@use "./_custom-bootstrap.scss";
@use "./_header.scss";
@use "./_home.scss";
@use "./_fireflies.scss";
@use "./_product.scss";
@use "./_label.scss";
@use "./_footer.scss";
@use "./_responsive.scss";

@mixin mastere {
	font-family: 'Barlow', sans-serif;
	line-height: 1;
}

* {
	box-sizing: border-box;
}

:root {
	--c1: #283337;
	--c2: #b7dcdf;
	--c3: #617680;
	--c4: #a1c2c5;
	--c5: #324045;
	--c6: #aed1d4;
}

body {
	font-family: 'Barlow', sans-serif;
	margin: 0;
    transition: background-color .6s;
	background-color: #ffffff;
	overflow-x: hidden;
}

ul {
	list-style: none;
}

p {
	margin: 0;
}

a {
	color: var(--c2) !important;
}

/* Page Loader */
.js .loading::before {
	content: '';
	position: fixed;
	z-index: 100000;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: var(--color-bg);
}

.js .loading::after {
	content: '';
	position: fixed;
	z-index: 100000;
	top: 50%;
	left: 50%;
	width: 60px;
	height: 60px;
	margin: -30px 0 0 -30px;
	pointer-events: none;
	border-radius: 50%;
	opacity: 0.4;
	background: var(--color-link);
	animation: loaderAnim 0.7s linear infinite alternate forwards;
}

@keyframes loaderAnim {
	to {
		opacity: 1;
		transform: scale3d(0.5, 0.5, 1);
	}
}


.message {
	padding: 1rem;
	color: var(--color-bg);
	background: var(--color-text);
	text-align: center;
	font-weight: bold;
}

.frame {
	padding: 1rem;
	text-align: center;
	position: relative;
	z-index: 1000;
	grid-area: 1 / 1 / 2 / 2;
	align-self: start;
}

.frame__title {
	font-size: 1rem;
	margin: 0 0 1rem;
}

.frame__links {
	display: inline;
}

.frame__github,
.frame__links a:not(:last-child),
.frame__demos a:not(:last-child) {
	margin-right: 1rem;
}

.frame__demos {
	margin: 1rem 0;
}

.frame__demo--current,
.frame__demo--current:hover {
	color: var(--color-text);
	text-decoration: line-through;
	letter-spacing: 40px;
}

.frame__pagetitle {
	margin: 3rem 0 0 0;
}

.frame__pagetitle span {
	display: block;
	font-weight: normal;
	font-size: 0.85rem;
}

.frame__pagetitle span::before {
	content: '\2015   ';
}

.content {
	height: 300px;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	isolation: isolate;
}

.content__img {
	max-width: var(--img-maxwidth);
	position: absolute;
	top: 0;
	left: 0;
	// opacity: 0;
	will-change: transform;
	filter: var(--filter-img);
}

.content__img--full {
	width: 100%;
	height: 100%;
	background-size: cover;
}